@model SampleSecureWeb.ViewModels.UpdatePasswordViewModel
@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>
}
else
{
    <p>You are not logged in.</p>
}

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Update Password
            </div>
            <div class="card-body">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }
                <form asp-action="UpdatePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control form-control-user" placeholder="Current Password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control form-control-user" placeholder="New Password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control form-control-user" placeholder="Confirm New Password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Update Password" />
    </div>
</form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
